body
    background: #f1f1f1
    max-width: 1440px
    color: #000
    font-size: 14px
    font-weight: normal
    line-height: 18px
img
    width: 100%
*
    padding: 0
    margin: 0
header
    .head__top
        height: 40px
        background: #D8BF95
        p
            font-size: 14px
            line-height: 18px
            text-align: center
            padding-top: 11px
    .head__bottom
        height: 88px
        padding: 0 30px
        .menu
            display: flex
            justify-content: space-between
            align-items: center
            padding: 25px 0
            text-transform: uppercase
            li
                list-style: none
        //.language
        //.cart
main
    .shop__all
        background: url(../img/shop-all.png)
        position: relative
        height: 620px
        margin-bottom: 120px
        h2
            position: absolute
            width: 90px
            right: 65px
            bottom: 100px
            font-size: 18px
            line-height: 22px
            text-transform: uppercase
    .show__myel
        position: relative
        margin-left: 64px
        margin-bottom: 115px
        h2
            position: absolute
            right: 64px
        .text
            font-size: 64px
            line-height: 64px
            width: 60%
            padding-bottom: 30px
        .prscr
            font-size: 20px
            line-height: 25px
    .show__new__arrivals
        padding: 0 64px
        margin-bottom: 160px
        h2
            margin-bottom: 60px
        .slide
            display: flex
            .product__left
                p
                img
                    width: 340px
                    height: 440px
                .info
                    display: flex
                    justify-content: space-between
            .product__right
                @extend .product__left
            //.center__slider
.owl-carousel .owl-nav
    position: absolute
    margin: 100px !important  
.show__now    
    .btn__product
        border: none    

                